<!doctype html>
<html>
	<head>
		
		<script src="http://xoxco.com/js/jquery.min.js"></script>
		<script src="crudapi_client.js"></script>
		<script src="model.js"></script>

		<script type="text/javascript">
		
			$(function() {
				
				crudapi_client(model);				
				crudapi_docs(model,'#log');
				
			});
		</script>
		
		<style>
		
			@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Francois+One);
			
			html,body { 
				font-size: 16px;
				margin: 0;
				padding: 0;
				font-family: 'Droid Sans','Helvetica';
			}
			
			h1,h2,h3,h4,h5,h6 { margin: 20px 0px 5px;
				font-family: 'Francois One';
			  font-weight: normal; 
				
				
			}

			p, blockquote, li {
			  font-size: 1em;
			  /* 16px */
			  line-height: 1.5em;
			  /* 24px */
			  margin: 0 0 0.75em 0; }
			
			/* 24px - The quick brown fox jumps over the lazy dog */
			h1 {
			  font-size: 1.5em;
			  /* 24px */
			  line-height: 1em;
			  /* 24px */
			  margin-top: 1em;
			  margin-bottom: 0em; }
			
			/* 22px - The quick brown fox jumps over the lazy dog */
			h2 {
			  font-size: 1.375em;
			  /* 22px */
			  line-height: 1.0909em;
			  /* 24px */
			  margin-top: 1.0909em;
			  margin-bottom: 0em; }
			
			/* 20px - The quick brown fox jumps over the lazy dog */
			h3 {
			  font-size: 1.25em;
			  /* 20px */
			  line-height: 1.2em;
			  /* 24px */
			  margin-top: 1.2em;
			  margin-bottom: 0em; }
			
			/* 18px - The quick brown fox jumps over the lazy dog */
			h4 {
			  font-size: 1.125em;
			  /* 18px */
			  line-height: 1.3333em;
			  /* 24px */
			  margin-top: 1.3333em;
			  margin-bottom: 0em; }
			
			/* 16px - The quick brown fox jumps over the lazy dog */
			h5 {
			  font-size: 1em;
			  /* 16px */
			  line-height: 1.5em;
			  /* 24px */
			  margin-top: 1.5em;
			  margin-bottom: 0em; }
			
			/* 14px - The quick brown fox jumps over the lazy dog */
			h6 {
			  font-size: 0.875em;
			  /* 14px */
			  line-height: 1.7143em;
			  /* 24px */
			  margin-top: 1.7143em;
			  margin-bottom: 0em; }
			
			img {
			  width: 100%;
			  max-width: 100%;
			  height: auto !important; }			
			#everything { 
				padding: 2.5%;
			}
			
			dt { 
				font-weight: bold;
				font-size: 24px;
			}
			
			dd { 
				margin-bottom: 20px;
				
			}
		</style>
		
	</head>
	<body>
	
		<div id="everything">
			<div id="app">
				<h1>node-CRUDAPI Example</h1>
				<p>Output from CRUDAPI's activity appears below.</p>
				<div id="log">
				</div>
			</div>
		</div>
	</body>
</html>